Article Hierarchy/ArticleHierarchy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.coop.dk/integration/articlehierarchy" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.coop.dk/integration/articlehierarchy" version="1.0">
	<xs:element name="ArticleHierarchy" type="ArticleHierarchyType"/>
	<xs:complexType name="ArticleHierarchyType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Plant">
				<xs:annotation>
					<xs:documentation>Plant</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ChangeIndicator">
				<xs:annotation>
					<xs:documentation>Change Indicator</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ActivationDate">
				<xs:annotation>
					<xs:documentation>Activation Date</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ChangedOn">
				<xs:annotation>
					<xs:documentation>Changed On</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="EmployeeNumber">
				<xs:annotation>
					<xs:documentation>Personnel no. of employee resp.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="HierarchyLevel">
				<xs:annotation>
					<xs:documentation>Number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ChangeSign">
				<xs:annotation>
					<xs:documentation>Plus/Minus</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Description">
				<xs:annotation>
					<xs:documentation>Description</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Number">
				<xs:annotation>
					<xs:documentation>Number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="GroupLink">
				<xs:annotation>
					<xs:documentation>GroupLink</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="MGkeyFlag">
				<xs:annotation>
					<xs:documentation>Flag MG key allowed</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SalesFlag">
				<xs:annotation>
					<xs:documentation>Flag: sales block</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DiscountFlag">
				<xs:annotation>
					<xs:documentation>Flag: discount allowed</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="WeighingFlag">
				<xs:annotation>
					<xs:documentation>Flag: material for weighing</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="999" minOccurs="0" name="Conditions" type="ConditionsType"/>
			<xs:element maxOccurs="9999" minOccurs="0" name="Tax" type="TaxType"/>
			<xs:element maxOccurs="999" minOccurs="0" name="Customer" type="CustomerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConditionsType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="ChangeSign">
				<xs:annotation>
					<xs:documentation>+/- sign of condition</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ConditionType">
				<xs:annotation>
					<xs:documentation>Type of condition/discount</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Promotion">
				<xs:annotation>
					<xs:documentation>Promotion</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="FromDate">
				<xs:annotation>
					<xs:documentation>Condition valid from</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="FromTime">
				<xs:annotation>
					<xs:documentation>Time of Price Activation</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="EndDate">
				<xs:annotation>
					<xs:documentation>End of price validity</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="EndTime">
				<xs:annotation>
					<xs:documentation>Time of price deactivation</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ConditionRate">
				<xs:annotation>
					<xs:documentation>Condition rate, percentage conditions</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="999" minOccurs="0" name="Values" type="ValuesType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValuesType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="ConditionRate">
				<xs:annotation>
					<xs:documentation>Condition rate, percentage conditions</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Amount">
				<xs:annotation>
					<xs:documentation>Amount</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Quantity">
				<xs:annotation>
					<xs:documentation>Quantity</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="TaxCode">
				<xs:annotation>
					<xs:documentation>Tax code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="FieldGroup">
				<xs:annotation>
					<xs:documentation>Field Group</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="FieldName">
				<xs:annotation>
					<xs:documentation>Field Name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="FieldValue">
				<xs:annotation>
					<xs:documentation>Field Value</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>