Article Master/ArticleMaster_V2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.coop.dk/integration/articlemaster" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.coop.dk/integration/articlemaster" version="2.0">
	<xs:element name="ArticleHeader" type="ArticleHeaderType"/>
	<xs:complexType name="ArticleHeaderType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Function">
				<xs:annotation>
					<xs:documentation>Function</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ParentArticleNo">
				<xs:annotation>
					<xs:documentation>Material Number (18 Characters)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ArticleType">
				<xs:annotation>
					<xs:documentation>Material type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="MerchandiseCat">
				<xs:annotation>
					<xs:documentation>Material Group</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ArticleCategory">
				<xs:annotation>
					<xs:documentation>Material Category</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CharProf">
				<xs:annotation>
					<xs:documentation>Characteristic profile</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="RefArticle">
				<xs:annotation>
					<xs:documentation>Reference Material</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="BasicViewInd">
				<xs:annotation>
					<xs:documentation>Include Basic Data View</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ListingViewInd">
				<xs:annotation>
					<xs:documentation>Indicator: Consider Listing view</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SalesViewInd">
				<xs:annotation>
					<xs:documentation>Indicator: Consider Sales view</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="LogisticsDCViewInd">
				<xs:annotation>
					<xs:documentation>Indicator: Consider Logistics Distribution Center view</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="LogisticsStoreViewInd">
				<xs:annotation>
					<xs:documentation>Indicator: Consider Logistics Store view</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="POSViewInd">
				<xs:annotation>
					<xs:documentation>Indicator: Consider POS view</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Article" type="ArticleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArticleType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Function">
				<xs:annotation>
					<xs:documentation>Function</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ArticleNo">
				<xs:annotation>
					<xs:documentation>Material Number (18 Characters)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CreatedOn">
				<xs:annotation>
					<xs:documentation>Created On</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CreatedBy">
				<xs:annotation>
					<xs:documentation>Name of Person Responsible for Creating the Object</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="LastChange">
				<xs:annotation>
					<xs:documentation>Date of Last Change</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ChangedBy">
				<xs:annotation>
					<xs:documentation>Name of person who changed object</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DeleteFlag">
				<xs:annotation>
					<xs:documentation>Flag Material for Deletion at Client Level</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="OldArticleNo">
				<xs:annotation>
					<xs:documentation>Old Material Number (18 Characters, Compatibility Mode)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="BaseUoM">
				<xs:annotation>
					<xs:documentation>Base Unit of Measure</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="BaseUoMISO">
				<xs:annotation>
					<xs:documentation>Base unit of measure in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="POUoM">
				<xs:annotation>
					<xs:documentation>Purchase Order Unit of Measure</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="POUoMISO">
				<xs:annotation>
					<xs:documentation>Order unit in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DocNo">
				<xs:annotation>
					<xs:documentation>Document number (without document management system)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="22"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DocType">
				<xs:annotation>
					<xs:documentation>Document type (without Document Management system)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DocVersion">
				<xs:annotation>
					<xs:documentation>Document version (without Document Management system)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DocPageFormat">
				<xs:annotation>
					<xs:documentation>Page format of document (without Document Management system)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DocChangeNo">
				<xs:annotation>
					<xs:documentation>Document change number (without document management system)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DocPageNo">
				<xs:annotation>
					<xs:documentation>Page number of document (without Document Management system)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DocSheetsNo">
				<xs:annotation>
					<xs:documentation>Number of sheets (without Document Management system)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ProductionMemo">
				<xs:annotation>
					<xs:documentation>Production/inspection memo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ProductionMemoPgFormat">
				<xs:annotation>
					<xs:documentation>Page Format of Production Memo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SizeDimensions">
				<xs:annotation>
					<xs:documentation>Size/dimensions</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="BasicArticle">
				<xs:annotation>
					<xs:documentation>Basic material (basic constituent of a material) - obsolete</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="IndStdDesc">
				<xs:annotation>
					<xs:documentation>Industry Standard Description (such as ANSI or ISO)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DesignOffice">
				<xs:annotation>
					<xs:documentation>Laboratory/design office</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PurchValueKey">
				<xs:annotation>
					<xs:documentation>Purchasing Value Key</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="NetWeight">
				<xs:annotation>
					<xs:documentation>Net weight</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Container">
				<xs:annotation>
					<xs:documentation>Container requirements</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="StorageConditions">
				<xs:annotation>
					<xs:documentation>Storage conditions</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="TempCondInd">
				<xs:annotation>
					<xs:documentation>Temperature conditions indicator</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="TransportationGroup">
				<xs:annotation>
					<xs:documentation>Transportation Group</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="HazardArticleNo">
				<xs:annotation>
					<xs:documentation>Hazardous material number (18 char.)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Division">
				<xs:annotation>
					<xs:documentation>Division</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Competitor">
				<xs:annotation>
					<xs:documentation>Competitor</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="QtyGRSlips">
				<xs:annotation>
					<xs:documentation>Quantity: Number of GR/GI slips to be printed</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ProcurementRule">
				<xs:annotation>
					<xs:documentation>Procurement rule</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SupplySource">
				<xs:annotation>
					<xs:documentation>Source of Supply</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Season">
				<xs:annotation>
					<xs:documentation>Season Category</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="LabelType">
				<xs:annotation>
					<xs:documentation>Label type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="LabelForm">
				<xs:annotation>
					<xs:documentation>Label form</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ProductHier">
				<xs:annotation>
					<xs:documentation>Product hierarchy</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CADInd">
				<xs:annotation>
					<xs:documentation>CAD Indicator</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="AllowedPackWeight">
				<xs:annotation>
					<xs:documentation>Allowed packaging weight</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PackWeightUnit">
				<xs:annotation>
					<xs:documentation>Unit of weight (allowed packaging weight)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PackWeightUnitISO">
				<xs:annotation>
					<xs:documentation>Unit of weight (allowed packaging weight) in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="AllowedPackVol">
				<xs:annotation>
					<xs:documentation>Allowed packaging volume</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PackVolUnit">
				<xs:annotation>
					<xs:documentation>Volume unit (allowed packaging volume)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PackVolUnitISO">
				<xs:annotation>
					<xs:documentation>Volume unit (allowed packaging volume) in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="HUExWgtTolLimit">
				<xs:annotation>
					<xs:documentation>Excess Weight Tolerance for Handling unit</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="HUExVolTolLimit">
				<xs:annotation>
					<xs:documentation>Excess Volume Tolerance of the Handling Unit</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="VarPurchOrderUnit">
				<xs:annotation>
					<xs:documentation>Variable Purchase Order Unit Active</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="BatchMgmtInd">
				<xs:annotation>
					<xs:documentation>Batch management requirement indicator</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PackMatType">
				<xs:annotation>
					<xs:documentation>Packaging Material Type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PackMatMaxFillPerc">
				<xs:annotation>
					<xs:documentation>Maximum level (by volume)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="StackingFactor">
				<xs:annotation>
					<xs:documentation>Stacking factor</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PackagingArtMerchCat">
				<xs:annotation>
					<xs:documentation>Material Group: Packaging Materials</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="AuthGroup">
				<xs:annotation>
					<xs:documentation>Authorization Group</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ProcQMInd">
				<xs:annotation>
					<xs:documentation>QM in Procurement is Active</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CatalogProfile">
				<xs:annotation>
					<xs:documentation>Catalog Profile</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="MinRemainShelfLife">
				<xs:annotation>
					<xs:documentation>Minimum Remaining Shelf Life</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="TotalShelfLife">
				<xs:annotation>
					<xs:documentation>Total shelf life</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="StoragePercent">
				<xs:annotation>
					<xs:documentation>Storage percentage</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ValidFrom">
				<xs:annotation>
					<xs:documentation>Valid-From Date</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DeletionDate">
				<xs:annotation>
					<xs:documentation>Deletion date</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SeasonYear">
				<xs:annotation>
					<xs:documentation>Season Year</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PriceBandCat">
				<xs:annotation>
					<xs:documentation>Price Band Category</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="EmptiesBOMInd">
				<xs:annotation>
					<xs:documentation>Empties Bill of Material</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ExtMerchCat">
				<xs:annotation>
					<xs:documentation>External Material Group</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ConfigurableArticle">
				<xs:annotation>
					<xs:documentation>Cross-Plant Configurable Material (18 ch compatibility mode)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PricingRefArticle">
				<xs:annotation>
					<xs:documentation>Pricing Reference Material</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CrossSiteArtStatus">
				<xs:annotation>
					<xs:documentation>Cross-Plant Material Status</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CrossDistrChainArtStatus">
				<xs:annotation>
					<xs:documentation>Cross-distribution-chain material status</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CrossSiteArtStatusValidFrom">
				<xs:annotation>
					<xs:documentation>Date from which the cross-plant material status is valid</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ChainArtStatusValidFrom">
				<xs:annotation>
					<xs:documentation>Date from which the X-distr.-chain material status is valid</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="TaxClassification">
				<xs:annotation>
					<xs:documentation>Tax classification of the material</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ContentUnit">
				<xs:annotation>
					<xs:documentation>Content unit</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ContentUnitISO">
				<xs:annotation>
					<xs:documentation>Content unit in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="NetContents">
				<xs:annotation>
					<xs:documentation>Net contents</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CompPriceUnit">
				<xs:annotation>
					<xs:documentation>Comparison price unit</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="GrossContents">
				<xs:annotation>
					<xs:documentation>Gross contents</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PricingProfile">
				<xs:annotation>
					<xs:documentation>Pricing profile for variants</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DiscountInKindInd">
				<xs:annotation>
					<xs:documentation>Material qualifies for discount in kind</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="EnvtlRelevantInd">
				<xs:annotation>
					<xs:documentation>Environmentally Relevant</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ProductAllocDetProc">
				<xs:annotation>
					<xs:documentation>Product allocation determination procedure</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SeasonRollout">
				<xs:annotation>
					<xs:documentation>Rollout in a Season</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DangerousGoodsIndProf">
				<xs:annotation>
					<xs:documentation>Dangerous Goods Indicator Profile</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="HighlyViscousInd">
				<xs:annotation>
					<xs:documentation>Indicator: Highly Viscous</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="BulkLiquidInd">
				<xs:annotation>
					<xs:documentation>Indicator: In Bulk/Liquid</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PackMatClosedPackInd">
				<xs:annotation>
					<xs:documentation>Packaging Material is Closed Packaging</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="BatchRecReqInd">
				<xs:annotation>
					<xs:documentation>Indicator: Approved batch record required</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SLEDPeriodInd">
				<xs:annotation>
					<xs:documentation>Period Indicator for Shelf Life Expiration Date</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SLEDRoundingRule">
				<xs:annotation>
					<xs:documentation>Rounding rule for calculation of SLED</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ProductCompOnPackInd">
				<xs:annotation>
					<xs:documentation>Indicator: Product composition printed on packaging</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="GenItemCategoryGroup">
				<xs:annotation>
					<xs:documentation>General item category group</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="BasicArticleNew">
				<xs:annotation>
					<xs:documentation>Basic Material</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="PrepackGenericArticle">
				<xs:annotation>
					<xs:documentation>Long Material Number for CONF_MATL field</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Charecteristic" type="CharecteristicType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ArticleDescription" type="ArticleDescriptionType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Site" type="SiteType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="UOM" type="UOMType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SalesData" type="SalesDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CharecteristicType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Function">
				<xs:annotation>
					<xs:documentation>Function</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CharacteristicName">
				<xs:annotation>
					<xs:documentation>Characteristic Name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CharacteristicValue">
				<xs:annotation>
					<xs:documentation>Characteristic Value</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArticleDescriptionType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Function">
				<xs:annotation>
					<xs:documentation>Function</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="LangKey">
				<xs:annotation>
					<xs:documentation>Language Key</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="LangKeyISO">
				<xs:annotation>
					<xs:documentation>2-Character SAP Language Code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ArticleDesc">
				<xs:annotation>
					<xs:documentation>Material description</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SiteType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Function">
				<xs:annotation>
					<xs:documentation>Function</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SiteNo">
				<xs:annotation>
					<xs:documentation>Unit of measure for display in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UOMType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Function">
				<xs:annotation>
					<xs:documentation>Function</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="UoM">
				<xs:annotation>
					<xs:documentation>Alternative Unit of Measure for Stockkeeping Unit</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="UomISO">
				<xs:annotation>
					<xs:documentation>Alternative unit of measure to stockkeeping unit in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="UoMToBaseUoMNumerator">
				<xs:annotation>
					<xs:documentation>Numerator for Conversion to Base Units of Measure</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="UoMToBaseUoMDenominator">
				<xs:annotation>
					<xs:documentation>Denominator for conversion to base units of measure</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="IntlArticleNo">
				<xs:annotation>
					<xs:documentation>International Article Number (EAN/UPC)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="IntlArticleNoCat">
				<xs:annotation>
					<xs:documentation>Category of International Article Number (EAN)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Length">
				<xs:annotation>
					<xs:documentation>Length</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Width">
				<xs:annotation>
					<xs:documentation>Width</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Height">
				<xs:annotation>
					<xs:documentation>Height</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="UoD">
				<xs:annotation>
					<xs:documentation>Unit of Dimension for Length/Width/Height</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="UoDISO">
				<xs:annotation>
					<xs:documentation>Unit for length/breadth/height in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="Volume">
				<xs:annotation>
					<xs:documentation>Volume</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="VolumeUOM">
				<xs:annotation>
					<xs:documentation>Volume unit</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="VolumeUOMISO">
				<xs:annotation>
					<xs:documentation>Volume unit in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="GrossWeight">
				<xs:annotation>
					<xs:documentation>Gross Weight</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="WeightUoM">
				<xs:annotation>
					<xs:documentation>Weight Unit</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="WeightUoMISO">
				<xs:annotation>
					<xs:documentation>Unit of weight in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DisplayUoM">
				<xs:annotation>
					<xs:documentation>Unit of Measure for Display</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DisplayUoMISO">
				<xs:annotation>
					<xs:documentation>Unit of measure for display in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SubUoM">
				<xs:annotation>
					<xs:documentation>Lower-Level Unit of Measure in a Packing Hierarchy</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SubUoMISO">
				<xs:annotation>
					<xs:documentation>Lower-Level Unit of Measure in ISO Code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="NestingFactor">
				<xs:annotation>
					<xs:documentation>Remaining Volume after Nesting (in Percentage)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="MaxStackingFactor">
				<xs:annotation>
					<xs:documentation>Maximum Stacking Factor</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CapacityUsage">
				<xs:annotation>
					<xs:documentation>Capacity Usage</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="EWMCatchWieghtUomCat">
				<xs:annotation>
					<xs:documentation>EWM-CW: Category of Unit of Measure</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="EAN" type="EANType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EANType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Function">
				<xs:annotation>
					<xs:documentation>Function</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DisplayUoM">
				<xs:annotation>
					<xs:documentation>Unit of Measure for Display</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DisplayUoMISO">
				<xs:annotation>
					<xs:documentation>Unit of measure for display in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="IntlArticleNo">
				<xs:annotation>
					<xs:documentation>International Article Number (EAN/UPC)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="IntlArticleNoCat">
				<xs:annotation>
					<xs:documentation>Category of International Article Number (EAN)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SalesDataType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="Function">
				<xs:annotation>
					<xs:documentation>Function</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SalesOrganization">
				<xs:annotation>
					<xs:documentation>Sales Organization</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DistributionChannel">
				<xs:annotation>
					<xs:documentation>Distribution Channel</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="DeletionFlag">
				<xs:annotation>
					<xs:documentation>Ind.: Flag material for deletion at distribution chain level</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="MaterialStatus">
				<xs:annotation>
					<xs:documentation>Material statistics group</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SalesStatus">
				<xs:annotation>
					<xs:documentation>Distribution-chain-specific material status</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SalesUnit">
				<xs:annotation>
					<xs:documentation>Sales unit</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="SalesUnitIso">
				<xs:annotation>
					<xs:documentation>Sales unit in ISO code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>